header {
    text-align: center;
}

header h1 {
    margin: 0;
}

#word-output {
    text-align: center;
}

#word-output input {
    border-radius: 6px;
}

#word-input {
    text-align: center;
}

#word-input input {
    border-radius: 6px;
}

.text {
    font-size: 30px;
    text-align: center;
}

.modal-header {
    text-align: center;
}
